/* index.html */

.title {
    padding: 20px;
    text-align: center;
    margin: 200px auto auto auto;
    border: solid black;
    background-color: #a8cadb;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 750px;
}

div {
    padding: 30px;
    text-align: center;
    border: solid;
    width: 600px;
    height: auto;
    margin: auto auto 20px auto;
  }

a {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
  .pasta {
    background-color: #548CA8;
  }
  
  .wonton {
    background-color: #476072;
  }
  
  .sloppy {
    background-color: #334257;
  }


/* recipe pages */


.section {
  padding: 20px;
  color: black;
  background-color: rgba(233, 248, 255, 0.658);
  border: 5px solid black;
  display: inline-block;
}

.home {
  text-align: center;
}

.heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
  display: inline-block;
  margin-left: 50px;
  text-decoration: underline;
}

.image {
  border: 5px black solid;
  display: block;
  margin: 20px 20px 20px 0;
}

.underline {
  text-decoration: underline;
  text-align: left;
}

.description {
  text-align: left;
  display: block;
  margin-left: 0px;
}
  
.ingredients {
  text-align: left;
  display: block;
  margin-left: 0px;
}

.steps {
  text-align: left;
  display: block;
  margin-left: 0px;
}